header{
    display: inline-block;
    margin-right: 30px;
    margin: 25px;
    border-bottom: 1px solid black;
}
h1{
    text-align: center;
    color: blue;
    font-size: 30px;
    border: 1px solid black;      
}
nav{
    display: inline-block;
}
main{
    border: 1px solid blue;

    margin: 30px auto;
}

.card{
    border: 1px solid red;
    display: inline-block;
    max-width: 30%;
    margin: 25px;
}

.card p {
    text-align: center;
}

h3{
    text-align: center;
}