header{
    display: inline-block;
    margin-right: 30px;
    margin: 25px;
    border-bottom: 1px solid black;
 }
h1{
    text-align: center;
    color: blue;
    font-size: 30px;
    border: 1px solid black;      
 }
 nav{
    display: inline-block;
 }

 nav ul{
    padding: 0;
    margin: 0 28px;
 }

 nav li{
    display: inline-block;
    margin-right: 10px;
 }

 main{
    border: 1px solid blue;

    margin: 30px auto;
 }

 h2{
        text-align: center;
        color: blue;
    }

section p{
    text-align: justify;
    text-align-last: left;
    margin: 15px;
}

section img{
    margin: 30px auto;
}

.card{
    border: 1px solid red;
    display: inline-block;
    max-width: 30%;
    margin: 30px;
}

.card p {
    text-align: center;
}

h3{
    text-align: center;
}